@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'abodmaster';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/alfont_com_AlFont_com_Abdo-Master-Regular.otf') format('truetype');
  }
}

.mainHeroLg{
  background-image: url(./assets/svg/kabab.svg), url(./assets/svg/mainHero.svg);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  height: 500px;
  background-size: stretch;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Hide the default date icon in input[type="date"] */
.input-date::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Placeholder text color */
::placeholder {
  color: #b0b0b0; /* Adjust the color to match your design */
  opacity: 1; /* Firefox */
  padding:0px 8px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b0b0b0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b0b0b0;
}

/* Hide the default date icon in input[type="date"] */
.input-date::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.theImage {
background-image: url("./src/assets/svg/maskedGroupContactUs.svg");
}